<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Add", new_activity_path %>
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="..."> -->
      </a>
    </div>
  </div>
</nav>
